@use "variables" as v;
@use "mixins" as m;

header {
  background-color: v.$color-light;
  padding: 80px 0 0 0;
  @media (max-width: 480px) {
    padding: 50px 0 0 0;
  }

  .container {
    nav {
      ul {
        display: grid;
        grid-template-columns: repeat(5, auto);
        column-gap: 30px;
        justify-content: start;
        list-style: none;
        text-transform: uppercase;
        transition: color 0.2s;

        @media (max-width: 768px) {
          justify-content: center;
        }

        li {
          a {
            &:hover {
              color: v.$secondary-color;
            }

            &:active {
              color: v.$secondary-color-light;
            }
          }
        }
      }
    }
  }
}
