/*ICONS*/
@use "variables" as v;
@use "mixins" as m;

.icons {
  background-color: v.$main-color-dark;
  padding: 100px 0;
  @media (max-width: 480px) {
    padding: 50px 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: start;
    align-items: center;
    column-gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      justify-items: center;
      row-gap: 30px;
    }

    .element {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;

      column-gap: 20px;
      img {
        width: 50px;
        height: 50px;
      }

      p {
        color: v.$main-color;
      }
    }
  }
}
/*ICONS*/
