$main-font: "Roboto", sans-serif;
$h1-size: 48px;
$h1-color: #000000;

$h2-size: 32px;
$h2-color: #000000;

$p-size: 16px;
$p-color: #727272;

$weight-bold: 500;
$weight-normal: 400;

$main-color: hsl(0, 0%, 100%);
$color-light: #eeeff1;
$main-color-dark: #34547a;

$secondary-color: #1511ec;
$secondary-color-light: #04501e;
