@use "variables" as v;
@use "mixins" as m;

/*WORK*/
.work {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    row-gap: 50px;
    padding: 80px 0;
    @media (max-width: 480px) {
      padding: 40px 0;
      row-gap: 30px;
    }

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
      @include m.responsive-p;
    }

    img {
      max-width: 100%;
    }
  }
}
/*WORK*/
